{% extends 'base.html' %}

{% block 'head' %}
    {% include 'blog/head.html' %}
{% endblock %}

{% block 'content' %}
    {% for post in post_list %}
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if post.image %}
                        <img src="{{ post.image }}" alt="{{post.title}}" class="bd-placeholder-img img-fluid rounded-start"/>
                    {% else %}
                        <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.title }}
                        </h5>
                        <p class="card-text text-muted">
                            Posted by {{post.author}} at {{post.created_on}}
                        </p>
                        <p class="card-text">
                            {% if post.excerpt %}
                                {{ post.excerpt | safe }}
                            {% else %}
                                {{ post.content | safe }}
                            {% endif %}
                        </p>
                        <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">Read more ...</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}